## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType css/print.css "10 minutes"
ExpiresByType img/shaun_yosemite2.jpg "10 minutes"
ExpiresByType js/perfmatters.js "10 minutes"
ExpiresByType views/images/pizzeria-small.jpg "10 minutes"
ExpiresByType http://www.google-analytics.com/analytics.js "2 hours"
ExpiresDefault "access plus 2 days"
</IfModule>
## EXPIRES CACHING ##